@charset "UTF-8";

/* Slider */

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;

1,300&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Work+Sans:wght@300&display=swap");
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  color: rgba(255, 255, 255, 0);
}

.slick-prev {
  z-index: 20;
  left: 0px;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.slick-prev:before {
  background-image: url(../img/arrow.png);
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 100%;
}

button {
  width: 100%;
}

.slick-next {
  right: 0px;
  -webkit-transform: rotate(88deg);
      -ms-transform: rotate(88deg);
          transform: rotate(88deg);
}

.slick-next:before {
  background-image: url(../img/arrow.png);
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 100%;
}

.img__slider {
  width: 100%;
  height: 100%;
}

.img_slider {
  max-width: 98%;
  margin: 0px 0px;
}

.container_slider {
  max-width: 40%;
}

.slider_item_content {
  height: 480px;
}

.slider_wan {
  position: relative;
}

.slider_two {
  max-width: 100%;
  position: absolute;
  bottom: 0;
}

.container {
  position: relative;
  width: 100%;
  z-index: 0;
}

.video_content {
  position: relative;
}

body {
  margin: 0px;
  padding: 0px;
}

.container_down {
  margin-top: 10%;
  z-index: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

a {
  z-index: 10;
}

.container_header {
  position: fixed;
  z-index: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  padding-left: 30px;
  padding-top: 30px;
}

.tooggle_container {
  width: 48px;
  height: 48px;
  background: rgba(74, 86, 104, 0.2);
  border: 1px solid rgba(220, 220, 232, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  position: relative;
  -webkit-animation: pulse 4s ease infinite;
          animation: pulse 4s ease infinite;
}

@-webkit-keyframes pulse {
  0% {
    width: 48px;
    height: 48px;
  }

  50% {
    width: 46px;
    height: 46px;
  }

  100% {
    width: 48px;
    height: 48px;
  }
}

@keyframes pulse {
  0% {
    width: 48px;
    height: 48px;
  }

  50% {
    width: 46px;
    height: 46px;
  }

  100% {
    width: 48px;
    height: 48px;
  }
}

.wid_tog {
  background-color: #f9f9f9;
  width: 24px;
  margin: 2px;
  height: 2px;
  text-shadow: 0px 0px 4px rgba(74, 74, 104, 0.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.tooggle_container:hover {
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tooggle_container:hover #toggleWan {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.tooggle_container:hover #toggleTwoo {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 24px;
  display: none;
}

.tooggle_container:hover #toggleThee {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-top: -3px;
  -webkit-transform: rotate(221deg);
      -ms-transform: rotate(221deg);
          transform: rotate(221deg);
}

.conatiner_left_menu {
  position: fixed;
  z-index: 10;
  background: #f9f9f9;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 0px;
  max-width: 100%;
  padding-left: 0px;
  padding-top: 0px;
  height: 100%;
  z-index: 500;
}

.aHref {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0px;
  line-height: 40px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #bb9444;
  text-decoration: none;
  opacity: 0.7;
  z-index: 20;
  position: relative;
  cursor: pointer;
  z-index: 500;
}

.aHref:hover {
  z-index: 2000;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #4a5668;
}

.active_menu {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 0px;
  width: 0px;
  max-width: 0%;
  padding-left: 0px;
  padding-top: 0px;
}

.container_logo {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.text_down {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #f9f9f9;
  margin-bottom: 30px;
}

.logo_baner {
  width: 24%;
  padding: 20px;
  height: auto;
}

.text_activ {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 25px;
  position: relative;
  z-index: 10;
}

.text_activWan {
  margin: 0px 10px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  z-index: 100;
}

.text_activTwoo {
  margin: 0px 10px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  z-index: 100;
}

.text_activSris {
  margin: 0px 10px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  z-index: 100;
}

.text_activSrii {
  margin: 0px 10px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  z-index: 100;
}

.text_activFoo {
  margin: 0px 10px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  z-index: 100;
}

.text_activFaif {
  margin: 0px 10px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  z-index: 100;
}

.right_vision {
  -webkit-animation: tspec 4s ease infinite;
          animation: tspec 4s ease infinite;
}

.display {
  display: none;
}

@-webkit-keyframes tspec {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    width: 10%;
    opacity: 0;
    margin: 0px 150px;
  }

  33% {
    opacity: 0.4;
    width: 20%;
    font-size: 10px;
  }

  68% {
    font-size: 20px;
    width: 40%;
    opacity: 0.8;
  }

  100% {
    opacity: 1;
    font-size: 26px;
    width: 50%;
  }
}

@keyframes tspec {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    width: 10%;
    opacity: 0;
    margin: 0px 150px;
  }

  33% {
    opacity: 0.4;
    width: 20%;
    font-size: 10px;
  }

  68% {
    font-size: 20px;
    width: 40%;
    opacity: 0.8;
  }

  100% {
    opacity: 1;
    font-size: 26px;
    width: 50%;
  }
}

.content_down {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(220, 220, 232, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

.pulsor {
  -webkit-animation: pulser 2.6s ease infinite;
          animation: pulser 2.6s ease infinite;
  margin-top: 0px;
}

@-webkit-keyframes pulser {
  0% {
    margin-top: 0px;
  }

  30% {
    margin-top: 5px;
  }

  62% {
    margin-top: 9px;
  }

  100% {
    margin-top: 0px;
  }
}

@keyframes pulser {
  0% {
    margin-top: 0px;
  }

  30% {
    margin-top: 5px;
  }

  62% {
    margin-top: 9px;
  }

  100% {
    margin-top: 0px;
  }
}

.container_secton2 {
  background-image: url("../img/Rectangle 112.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 35px;
  width: 100%;
  padding-top: 100px;
  height: 700px;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conyainer_card_towar {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #bb9444;
  padding: 32px;
  margin: 0px 40px;
  width: 400px;
  max-width: 100%;
  height: 495px;
  position: relative;
}

.activ_card {
  position: relative;
  -webkit-animation: Card 4s ease infinite;
          animation: Card 4s ease infinite;
}

@-webkit-keyframes Card {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    opacity: 0;
    position: relative;
    top: 500px;
    left: 300px;
  }

  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    top: 200px;
    opacity: 0.9;
    left: 200px;
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0px;
    opacity: 1;
    left: 0px;
  }
}

@keyframes Card {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    opacity: 0;
    position: relative;
    top: 500px;
    left: 300px;
  }

  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    top: 200px;
    opacity: 0.9;
    left: 200px;
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0px;
    opacity: 1;
    left: 0px;
  }
}

.activ_card_twoo {
  position: relative;
  -webkit-animation: CardTwoo 4s ease infinite;
          animation: CardTwoo 4s ease infinite;
}

@-webkit-keyframes CardTwoo {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    opacity: 0;
    position: relative;
    top: 500px;
    left: 900px;
  }

  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    top: 200px;
    opacity: 0.9;
    left: 200px;
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0px;
    opacity: 1;
    left: 0px;
  }
}

@keyframes CardTwoo {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    opacity: 0;
    position: relative;
    top: 500px;
    left: 900px;
  }

  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    top: 200px;
    opacity: 0.9;
    left: 200px;
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0px;
    opacity: 1;
    left: 0px;
  }
}

.activ_card_three {
  position: relative;
  -webkit-animation: CardThee 4s ease infinite;
          animation: CardThee 4s ease infinite;
}

@-webkit-keyframes CardThee {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    opacity: 0;
    position: relative;
    top: 500px;
    left: 1000px;
  }

  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    top: 200px;
    opacity: 0.9;
    left: 1000px;
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0px;
    opacity: 1;
    left: 0px;
  }
}

@keyframes CardThee {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    opacity: 0;
    position: relative;
    top: 500px;
    left: 1000px;
  }

  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    top: 200px;
    opacity: 0.9;
    left: 1000px;
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0px;
    opacity: 1;
    left: 0px;
  }
}

.container_card_twoo {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2px;
  color: #4a5668;
  padding: 32px;
  margin: 0px 40px;
  width: 400px;
  max-width: 100%;
  height: auto;
  position: relative;
}

.container_card_twoo span {
  font-weight: 600;
  color: #4a5668;
  text-transform: uppercase;
}

.container_section3 {
  background-image: url("../img/Back.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 35px;
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.container_section3::after {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 61, 122, 0)), color-stop(86.07%, #153d7a));
  background: -o-linear-gradient(top, rgba(21, 61, 122, 0) 0%, #153d7a 86.07%);
  background: linear-gradient(180deg, rgba(21, 61, 122, 0) 0%, #153d7a 86.07%);
  background-size: 100%;
  width: 100%;
  height: 222px;
  z-index: 1;
  bottom: 0;
}

.title_box {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 44px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #bb9444;
}

.block_hiden {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #f9f9f9;
  mix-blend-mode: normal;
  width: 720px;
  height: 63vh;
  overflow-y: scroll;
  padding-right: 100px;
  margin-top: 40px;
  padding-bottom: 40px;
}

.block_hiden::-webkit-scrollbar {
  width: 5px;
  background: #f9f9f933;
  opacity: 0.05;
  border-radius: 2px;
}

.block_hiden::-webkit-scrollbar-thumb {
  background: #dcdce8b0;
  opacity: 0.5;
  border-radius: 2px;
  z-index: 2;
  position: relative;
}

.content_arrow_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
  margin-bottom: 70px;
}

.title_aroow {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 140%;
  text-transform: uppercase;
  color: #dcdce8;
  margin-right: 20px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.activ_section {
  height: 100vh;
  overflow: hidden;
}

.container_block {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 35px;
  padding-top: 10px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: #153d7a;
}

.container_block::after {
  content: "";
  background-image: url("../img/Back (1).png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.block_text {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -1px;
  color: #f9f9f9;
  width: 45%;
  position: relative;
  z-index: 100;
}

.aroow_section4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 40px;
}

.block2 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(21, 61, 122, 0.95)), to(rgba(21, 61, 122, 0.95))), url(20210527_163032000_iOS.jpg);
  background: -o-linear-gradient(bottom, rgba(21, 61, 122, 0.95), rgba(21, 61, 122, 0.95)), url(20210527_163032000_iOS.jpg);
  background: linear-gradient(0deg, rgba(21, 61, 122, 0.95), rgba(21, 61, 122, 0.95)), url(20210527_163032000_iOS.jpg);
}

.block3 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(21, 61, 122, 0.9)), to(rgba(21, 61, 122, 0.9))), url(20210527_163032000_iOS.jpg);
  background: -o-linear-gradient(bottom, rgba(21, 61, 122, 0.9), rgba(21, 61, 122, 0.9)), url(20210527_163032000_iOS.jpg);
  background: linear-gradient(0deg, rgba(21, 61, 122, 0.9), rgba(21, 61, 122, 0.9)), url(20210527_163032000_iOS.jpg);
}

.block4 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(21, 61, 122, 0.75)), to(rgba(21, 61, 122, 0.75))), url(20210527_163032000_iOS.jpg);
  background: -o-linear-gradient(bottom, rgba(21, 61, 122, 0.75), rgba(21, 61, 122, 0.75)), url(20210527_163032000_iOS.jpg);
  background: linear-gradient(0deg, rgba(21, 61, 122, 0.75), rgba(21, 61, 122, 0.75)), url(20210527_163032000_iOS.jpg);
}

.container_section4 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 35px;
  padding-top: 10px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: rgba(21, 61, 122, 0.233);
}

.go_animation_bacg {
  -webkit-animation: bacgSection 30s ease infinite;
          animation: bacgSection 30s ease infinite;
}

.container_section4::after {
  content: "";
  background-image: url("../img/Back (1).png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.show_sec4 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -1px;
  color: #f9f9f9;
  width: 54%;
  position: relative;
  z-index: 100;
}

.aroow_section4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 40px;
}

.go_animation_text {
  -webkit-animation: activText 8s ease infinite;
          animation: activText 8s ease infinite;
}

@-webkit-keyframes activText {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    opacity: 0;
    position: relative;
    top: 500px;
    left: 1000px;
  }

  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0px;
    opacity: 1;
    left: 0px;
  }

  100% {
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
    left: -400px;
    top: 800px;
    opacity: 1;
  }
}

@keyframes activText {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    opacity: 0;
    position: relative;
    top: 500px;
    left: 1000px;
  }

  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0px;
    opacity: 1;
    left: 0px;
  }

  100% {
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
    left: -400px;
    top: 800px;
    opacity: 1;
  }
}

@-webkit-keyframes bacgSection {
  0% {
    background: #153d7a;
  }

  100% {
    background: rgba(21, 61, 122, 0.233);
  }
}

@keyframes bacgSection {
  0% {
    background: #153d7a;
  }

  100% {
    background: rgba(21, 61, 122, 0.233);
  }
}

.container_section__5 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_paralax {
  width: 50%;
  height: 100vh;
  position: relative;
}

.parallaxWan {
  background-image: url("../img/paralaxOne.png");
  background-size: 70%;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.parallaxWan::after {
  content: "";
  position: absolute;
  background-image: url("../img/paralaxTwoo.png");
  background-size: 110%;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-position-y: 20%;
  background-repeat: no-repeat;
}

.title_paralax {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #bb9444;
  z-index: 4;
}

.text_paralax {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1px;
  color: #4a5668;
  mix-blend-mode: normal;
  z-index: 4;
  width: 65%;
  margin-top: 20px;
}

.text_paralax span {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #4a5668;
  mix-blend-mode: normal;
  z-index: 4;
}

.container_section__6 {
  padding-bottom: 35px;
  padding-top: 140px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ededf2;
  position: relative;
  z-index: 1;
}

.container_paralax6 {
  width: 50%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parallaxWan6 {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 50vh;
  padding: 80px;
}

@-webkit-keyframes activParalax {
  0% {
    padding: 0px;
    height: 0vh;
  }

  100% {
    padding: 80px;
    height: 50vh;
  }
}

@keyframes activParalax {
  0% {
    padding: 0px;
    height: 0vh;
  }

  100% {
    padding: 80px;
    height: 50vh;
  }
}

.title_paralax6 {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #bb9444;
  position: relative;
  bottom: 220px;
}

.content_vector {
  background-image: url("../img/Vector (22).png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 26%;
  position: absolute;
  z-index: 0;
  right: 90px;
  top: 66px;
  -webkit-animation: powerVector 5s ease infinite;
          animation: powerVector 5s ease infinite;
}

@-webkit-keyframes powerVector {
  0% {
    height: 60vh;
    width: 26%;
  }

  50% {
    height: 58vh;
    width: 24%;
  }

  100% {
    height: 60vh;
    width: 26%;
  }
}

@keyframes powerVector {
  0% {
    height: 60vh;
    width: 26%;
  }

  50% {
    height: 58vh;
    width: 24%;
  }

  100% {
    height: 60vh;
    width: 26%;
  }
}

.content_vectorTwoo {
  background-image: url("../img/Vector 16.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 111vh;
  width: 27%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  -webkit-animation: powerVectorTwoo 5s ease infinite;
          animation: powerVectorTwoo 5s ease infinite;
}

@-webkit-keyframes powerVectorTwoo {
  0% {
    width: 27%;
  }

  50% {
    width: 26%;
  }

  100% {
    width: 27%;
  }
}

@keyframes powerVectorTwoo {
  0% {
    width: 27%;
  }

  50% {
    width: 26%;
  }

  100% {
    width: 27%;
  }
}

.container_section7 {
  background-image: url("../img/Team 1.png");
  background-repeat: no-repeat;
  background-size: 70% 60%;
  background-position: bottom;
  padding-bottom: 35px;
  padding-top: 10px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container_section7::after {
  content: "";
  background-image: url("../img/Land 1.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 30%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.text_section7 {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 166px;
  line-height: 134px;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ded4c0;
  mix-blend-mode: normal;
  width: 63%;
  position: relative;
  z-index: -1;
}

.content_arrow__text {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #dcdce8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  position: relative;
}

.puls__arrow {
  -webkit-transform: rotate(268deg);
      -ms-transform: rotate(268deg);
          transform: rotate(268deg);
  border: 25px solid #d6d6d64d;
  border-radius: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -31;
  z-index: 4;
  -webkit-animation: pulsAroow 6s ease infinite;
          animation: pulsAroow 6s ease infinite;
}

.puls__arrow_twoo {
  position: relative;
  border: 15px solid rgba(255, 255, 255, 0.486);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: pulsAroowtwoo 6s ease infinite;
          animation: pulsAroowtwoo 6s ease infinite;
}

@-webkit-keyframes pulsAroowtwoo {
  0% {
    border: 10px solid rgba(255, 255, 255, 0.486);
  }

  50% {
    border: 0px solid rgba(255, 255, 255, 0.486);
  }

  100% {
    border: 10px solid rgba(255, 255, 255, 0.486);
  }
}

@keyframes pulsAroowtwoo {
  0% {
    border: 10px solid rgba(255, 255, 255, 0.486);
  }

  50% {
    border: 0px solid rgba(255, 255, 255, 0.486);
  }

  100% {
    border: 10px solid rgba(255, 255, 255, 0.486);
  }
}

@-webkit-keyframes pulsAroow {
  0% {
    right: -31px;
    border: 20px solid rgba(255, 255, 255, 0.486);
  }

  50% {
    right: 0;
    border: 0px solid rgba(255, 255, 255, 0.486);
  }

  100% {
    right: -31px;
    border: 20px solid rgba(255, 255, 255, 0.486);
  }
}

@keyframes pulsAroow {
  0% {
    right: -31px;
    border: 20px solid rgba(255, 255, 255, 0.486);
  }

  50% {
    right: 0;
    border: 0px solid rgba(255, 255, 255, 0.486);
  }

  100% {
    right: -31px;
    border: 20px solid rgba(255, 255, 255, 0.486);
  }
}

.container_section8 {
  background-image: url("../img/Field 3 2.png");
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: bottom;
  padding-top: 90px;
  padding-bottom: 40px;
  width: 100%;
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container_text__Section8 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #4a5668;
  mix-blend-mode: normal;
  width: 65%;
}

.container_text__Section8 span {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #4a5668;
  mix-blend-mode: normal;
}

.content__text__aroow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #4a5668;
}

.conatienr_hover_btn_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 30vh;
  padding-bottom: 40px;
}

.content_1 {
  position: absolute;
  bottom: 120px;
  left: 100px;
  -webkit-animation: content_1 6s ease infinite;
          animation: content_1 6s ease infinite;
}

.content_2 {
  position: absolute;
  bottom: 0;
  -webkit-animation: content_2 6s ease infinite;
          animation: content_2 6s ease infinite;
}

.content_3 {
  position: absolute;
  bottom: 120px;
  right: 120px;
  -webkit-animation: content_3 6s ease infinite;
          animation: content_3 6s ease infinite;
}

.content_4 {
  position: absolute;
  bottom: 0;
  right: 120px;
  -webkit-animation: content_4 6s ease infinite;
          animation: content_4 6s ease infinite;
}

@-webkit-keyframes content_4 {
  0% {
    right: 120px;
    bottom: 0px;
  }

  50% {
    right: 150px;
    bottom: 30px;
  }

  100% {
    right: 120px;
    bottom: 0px;
  }
}

@keyframes content_4 {
  0% {
    right: 120px;
    bottom: 0px;
  }

  50% {
    right: 150px;
    bottom: 30px;
  }

  100% {
    right: 120px;
    bottom: 0px;
  }
}

@-webkit-keyframes content_3 {
  0% {
    bottom: 120px;
    right: 120px;
  }

  50% {
    bottom: 150px;
    right: 150px;
  }

  100% {
    bottom: 120px;
    right: 120px;
  }
}

@keyframes content_3 {
  0% {
    bottom: 120px;
    right: 120px;
  }

  50% {
    bottom: 150px;
    right: 150px;
  }

  100% {
    bottom: 120px;
    right: 120px;
  }
}

@-webkit-keyframes content_2 {
  0% {
    bottom: 0px;
    left: 0px;
  }

  50% {
    bottom: 30px;
    left: 30px;
  }

  100% {
    bottom: 0px;
    left: 0px;
  }
}

@keyframes content_2 {
  0% {
    bottom: 0px;
    left: 0px;
  }

  50% {
    bottom: 30px;
    left: 30px;
  }

  100% {
    bottom: 0px;
    left: 0px;
  }
}

@-webkit-keyframes content_1 {
  0% {
    bottom: 120px;
    left: 100px;
  }

  50% {
    bottom: 150px;
    left: 130px;
  }

  100% {
    bottom: 120px;
    left: 100px;
  }
}

@keyframes content_1 {
  0% {
    bottom: 120px;
    left: 100px;
  }

  50% {
    bottom: 150px;
    left: 130px;
  }

  100% {
    bottom: 120px;
    left: 100px;
  }
}

.content_hover {
  border-radius: 100%;
  background: #f9f9f9;
  border: 1px solid #dcdce8;
  border: 12px solid rgba(220, 220, 232, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_hover_btn {
  -webkit-box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.1);
  border: 30px solid rgba(220, 220, 232, 0.3);
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}

.activ_puls {
  -webkit-animation: pulsHover 6s ease infinite;
          animation: pulsHover 6s ease infinite;
}

@-webkit-keyframes pulsHover {
  0% {
    border: 30px solid rgba(220, 220, 232, 0.3);
  }

  50% {
    border: 0px solid rgba(220, 220, 232, 0.3);
  }

  100% {
    border: 30px solid rgba(220, 220, 232, 0.3);
  }
}

@keyframes pulsHover {
  0% {
    border: 30px solid rgba(220, 220, 232, 0.3);
  }

  50% {
    border: 0px solid rgba(220, 220, 232, 0.3);
  }

  100% {
    border: 30px solid rgba(220, 220, 232, 0.3);
  }
}

.container_hover {
  position: relative;
}

.container_hover_text {
  position: absolute;
  z-index: 50;
  left: 60px;
  bottom: 60px;
  background: rgba(220, 220, 232, 0.9);
  -webkit-box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #4a5668;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 0px;
  width: 0px;
  padding: 0px;
}

.activ_hover {
  width: 300px;
  font-size: 16px;
  padding: 32px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.container__section10 {
  width: 100%;
  height: 100vh;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #dcdce8;
}

.content_paralax__section10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}

.paralax__section10 {
  background-image: url("../img/image 61.png");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 70%;
  border-radius: 24px;
  height: 500px;
  width: 60%;
  position: relative;
  z-index: 1;
}

.clip_1 {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  background: #dcdce8;
  -webkit-clip-path: ellipse(43% 26% at 51% 47%);
          clip-path: ellipse(43% 26% at 51% 47%);
}

.disabled {
  display: none;
}